#accred .container-fixed {
  padding-bottom: 9px;
  background: url('images/diploma.jpg') no-repeat top center;
}

#accred p {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

#accred .container a {
  display: block;
  height: 690px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 56px;
    left: 57px;
  }

  .zoom {
    background: url($sprite) no-repeat -553px -361px;
    width: 62px;
    height: 62px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

#accred .container .ol {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;

  .li {
    width: 17px;
    height: 17px;
    display: inline-block;
    border: 2px solid #8b8b8b;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;

    &.active,
    &:hover {
      border: 2px solid #ef802f;
    }
  }
}
