#advantages .container-fixed {
  background: url('images/work.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom: 45px;

  .container {
    width: 770px;
  }
}

#advantages .list_advant {
  padding-top: 55px;
}

#advantages .list_advant .elem_list {
  float: left;
  width: 50%;
  position: relative;

  .point {
    float: left;
    margin-bottom: 80px;
    margin-right: 10px;
  }

  h3 {
    color: #f24b10;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    color: $gray_text;
  }
}
