doctype html
html(lang!="RU-ru")
  head
    include sections/header.jade
  body
    |<!-- Google Tag Manager (noscript) -->
    |<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NB9W8MG"
    |height="0" width="0" style="display:none;visibility:hidden"></iframe>
    |<!-- End Google Tag Manager (noscript) -->
    include sections/navigation.jade
    include sections/main.jade
    include sections/video.jade
    include sections/services.jade
    include sections/advantages.jade
    include sections/feedback.jade
    include sections/spec.jade
    include sections/accred.jade
    include sections/projects.jade
    include sections/reviews.jade
    include sections/map.jade
    include sections/footer.jade 
    div#mail.not_visible_mail
    include sections/scripts.jade 
    
    //- example form
    //
      div.main
        h3="Внимание"
        p="Оставьте ваши контактные данные и наш консультант<br/>свяжется с вами в течении 30 секунд"
        form#application(action="mail.php" method="POST" name="application")
          input#applicationName(name="name" maxlength="20" placeholder="Введите ваше имя" required)
          input#applicationEmail(name="email" type="email" maxlength="20" placeholder="Ваш E-mail" required)
          input#applicationTelephone(name="telephone" type="Tel" maxlength="20" placeholder="Ваш телефон")
          input(type="submit")
          div#app="Отправить"  
