section#accred
  a(name="accred")
  .container-fixed
    .container
      h2 Аккредитация
      p Деятельность осуществляется на основании свидетельства об аккредитации № 00246 от 27.05.2016
      a(href="images/acreed.jpg" class="fancybox")
        .zoom
