section#accred
  a(name="accred")
  .container-fixed
    .container
      h2 Аккредитация
      p Деятельность осуществляется на основании свидетельства об аккредитации № 00087 от 10.10.2016
      a(href="images/acreed.jpg" class="fancybox")
        img(src="images/sert_1.png")
        .zoom
      .ol
        .li.active(data-link="acreed" data-img="sert_1")
        .li(data-link="acreed_2" data-img="sert_2")
