section#advantages
  a(name="advantages")
  .container-fixed
    .container
      h2 Преимущества
      .list_advant
        .elem_list
          .point »
          h3 Контроль качества
          p Мы проверяем все материалы и оборудование на соответствие заявленным в смете.
        .elem_list
          .point »
          h3 Еженедельная отчетность
          p Вы будете получать полный отчет о ходе строительства еженедельно.
        .elem_list
          .point »
          h3 Контроль сметы
          p Предотвращаем затраты, связанные с неправильным составлением сметы. Избежание перерасхода средств.
        .elem_list
          .point »
          h3 Контроль хода строительства
          p Отдельный профильный специалист проверяет каждый этап строительства.
        .elem_list
          .point »
          h3 Контроль документации
          p Вся проектно-сметная документация проверяется специалистами.
        .elem_list
          .point »
          h3 Контроль сроков
          p Вы можете быть уверены в сдаче проекта в срок
        .elem_list
          .point »
          h3 Представляем ваши интересы
          p В случае выявления любого рода несоотвествий представляем ваши интересы.
        .elem_list
          .point »
          h3 Безопасность
          p Вся ответственность по исполнению проекта лежит на нас.
