section#feedback
  a(name="feedback")
  .container-fixed
    .container
      header
        h3 Оставьте заявку и наш специалист проконсультирует вас
        .line
      form(action="")
        label.name
          input(type="text" required placeholder="Имя")
        label.tel
          input(type="tel" required placeholder="Телефон")
        label.mail
          input(type="mail" required placeholder="E-mail")
        button Отправить
