section#feedback
  a(name="feedback")
  .container-fixed
    .container
      header
        h3 Оставьте заявку и наш специалист проконсультирует вас
        .line
      form(id="form_feed")
        label.name
          input(type="text" name="name" required placeholder="Имя")
        label.tel
          input(type="tel" name="telephone" required placeholder="Телефон")
        label.mail
          input(type="mail" name="email" required placeholder="E-mail")
        button Отправить
