section#main
  a(name="top")
  .container
    h1 Технический надзор за процессом строительства
    .icon_list
      .line
        img(src="images/line.png")
      .icon1
      .icon2
      .icon3
      .icon4
      .icon5
      
