section#map_contact
  a(name="contact")
  .container-fixed
    #map
    .contact
      h3 г. Астана, ул. Айнакол, д. 60, ВП 13 (Жилой комплекс «Барыc»)
      h4!="+7 778 <b>744-97-83</b>"
      .ques Остались вопросы?
      .man Задайте их нашему менеджеру
      a(href="#feedback").button Написать нам
