section#navigation.menu_fixed_on_top
  .container
    a(href="#top"): img(src="images/logo_big.png")
    nav
      a(href="#service") Услуги
      a(href="#advantages") Преимущества
      a(href="#spec") Специалисты
      a(href="#accred") Аккредитация
      a(href="#project") Проекты
      a(href="#reviews") Отзывы
      a(href="#contact") Контакты
    .contact
      .num!="+7 702 <b>345-45-45</b>"
      .mail texservice@corp.ru
