section#reviews
  a(name="reviews")
  .container-fixed
    .container
      h2 Видео отзывы
      .list_reviews
        a(href="https://www.youtube.com/embed/hipKvFhMqqc?autoplay=1&rel=0" class="fancybox fancybox.iframe").elem_review
          .image
            img(src="images/moroz.png")
            .line
              .watch
          .text
            .play
            .name Мороз Владимир
            .status Зам.директора
          .text
            .status ТОО СК "АСТАНАТРАНССТРОЙ"
        a(href="https://www.youtube.com/embed/9cUzd8pMHQ8?autoplay=1&rel=0" class="fancybox fancybox.iframe").elem_review
          .image
            img(src="images/asyl.png")
            .line
              .watch
          .text
            .play
            .name Жүсіп Асыл
            .status Директор адм-го департамента
          .text
            .status Национальный центр Биотехнологии
        a(href="https://www.youtube.com/embed/6SWK8QVNTAA?autoplay=1&rel=0" class="fancybox fancybox.iframe").elem_review
          .image
            img(src="images/vadim.png")
            .line
              .watch
          .text
            .play
            .name Мирзоев Вадим
            .status Директор
          .text
            .status ТОО «Эра»
        a(href="https://www.youtube.com/embed/yvVCMs-hCuk?autoplay=1&rel=0" class="fancybox fancybox.iframe").elem_review
          .image
            img(src="images/duman.png")
            .line
              .watch
          .text
            .play
            .name Туребаев Думан
            .status Рук. по строительству
          .text
            .status ТОО Hyundai Premium Astana
