script(src="libs/jquery/dist/jquery.min.js")
script(src="libs/fancybox/source/jquery.fancybox.pack.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkS0y-j9aq7GAuQPJJy5uhEiVKIWBcTM4")
script(src="bundle.js")
| <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NB9W8MG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
