script(src="libs/jquery/dist/jquery.min.js")
script(src="libs/fancybox/source/jquery.fancybox.pack.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkS0y-j9aq7GAuQPJJy5uhEiVKIWBcTM4")
script(src="bundle.js")
