section#services
  a(name="service")
  .container-fixed
    .container
      h2 Услуги
      .serv_info
        .serv_list
          .list
            .icon_1
            .text!="<b>Технический надзор</b> за процессом строительства объектов"
          .list
            .icon_2
            .text!="<b>Техническое обследование</b> зданий и сооружений"
        .for_who
          h3!="Для кого <i>?</i>"
          p="Малые и крупные объекты строительства от малоэтажных домов до промышленных объектов"
