section#spec
  a(name="spec")
  .container-fixed
    .container
      h2 Специалисты
      .specs
        .spec
          .photo
            img(src="images/men2.png")
            .line
          .status Эксперт тех. надзора
          .name Тусибаев Есентай
          .stage Общий рабочий стаж: 
          .text 40 лет 
          .stage Должность:
          .text Эксперт технического надзора по объектам первого уровня ответственности в части несущих и ограждающих конструкций
          //.stage Основные функции: 
          //.text Организация и ведение 
        .spec
          .photo
            img(src="images/men1.png")
            .line
          .status Эксперт тех. надзора
          .name Жансаутов Нуржан
          .stage Общий рабочий стаж: 
          .text 14 лет
          .stage Должность:
          .text Эксперт технического надзора по объектам первого уровня ответственности в части несущих и ограждающих конструкций
          //.stage Основные функции: 
          //.text Организация и ведение 
        .spec
          .photo
            img(src="images/men3.png")
            .line
          .status Эксперт тех. надзора
          .name Гершкул Степан
          .stage Общий рабочий стаж: 
          .text 8 лет
          .stage Должность:
          .text Эксперт технического надзора по объектам первого уровня ответственности в части инженерных сетей
          //.stage Основные функции: 
          //.text Организация и ведение 
        .spec
          .photo
            img(src="images/men4.png")
            .line
          .status Эксперт тех. надзора
          .name Садыков Тлеуберген
          .stage Общий рабочий стаж: 
          .text 25 лет
          .stage Должность:
          .text Эксперт технического надзора по объектам первого уровня ответственности в части инженерных сетей
          //.stage Основные функции: 
          //.text Организация и ведение 
        .spec
          .photo
            img(src="images/men5.png")
            .line
          .status Эксперт тех. надзора
          .name Байсалбаев Жолдыбай
          .stage Общий рабочий стаж: 
          .text 27 лет
          .stage Должность:
          .text Эксперт технического надзора по объектам первого уровня ответственности в части инженерных сетей и  технологического оборудования
          //.stage Основные функции: 
          //.text Организация и ведение 
          
