section#video
  video( preload autoplay loop src="site.mp4")
  .dark
  .container
    a(href="https://www.youtube.com/embed/n_BkIbOj18k?autoplay=1" class="fancybox fancybox.iframe").button Посмотреть видео
